.filter-box {
	margin: 8px;
	text-align: right;
}

.filter-text {
	font-size: 1.4em;
	font-weight: 300;
	vertical-align: middle;
	margin-right: 8px;
}

.materia-container {
	
}

.materia-name {
	font-size: 2em;
	font-weight: 300;
}