{% extends 'base.html' %}
{% load staticfiles %}

{% block 'head_title' %}Dashboard{% endblock %}
{% block 'content_container_title' %}Dashboard{% endblock %}

{% block 'content_container' %}

{% include 'dashboard_data.html' %}

{% endblock 'content_container' %}

{% block 'css' %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'css/dashboard.css' %}">
{% endblock 'css' %}

{% block 'js' %}
{{ block.super }}
<script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
{% endblock 'js' %}