{% load staticfiles %}

<div class="col-md-6 col-sm-6 col-lg-4">
    <div class="panel panel-default materias-en-curso">
        <div class="panel-heading">
            <div class="panel-title">
                Materias en curso
                <img src="{% static 'img/ajax-loader.gif' %}" class="pull-right loading-new-data" title="Datos antiguos. Actualizando..." data-trigger="hover">
                </div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
            {% for materia in materias %}
              <li class="list-group-item">
                {{ materia.materia.nombre }}
              </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>