{% extends 'base.html' %}
{% load staticfiles %}

{% block 'head_title' %}Materias{% endblock %}
{% block 'content_container_title' %}Materias{% endblock %}

{% block 'content_container' %}

<div class="filter-box">
	<span class="filter-text">
		Filtrar:
	</span>

	<div class="btn-group" data-toggle="buttons">
	  <label class="btn btn-default">
	    <input type="checkbox" name="options" id="option1"> Aprobadas
	  </label>
	  <label class="btn btn-default">
	    <input type="checkbox" name="options" id="option2"> Regularizadas
	  </label>
	  <label class="btn btn-default">
	    <input type="checkbox" name="options" id="option3"> En curso
	  </label>
	</div>
</div>

<div class="panel-group" id="materias-list">
	{% for materia in materias %}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title">
				<a href="#materia-{{ forloop.counter }}" data-toggle="collapse" data-parent="#materias-list">{{ materia.materia.nombre }}</a>
			</h4>
		</div>
		<div class="panel-collapse collapse" id="materia-{{ forloop.counter }}">
			<div class="panel-body">
				Details implementation.
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock 'content_container' %}

{% block 'css' %}
	{{ block.super }}
	<link rel="stylesheet" href="{% static 'css/materias.css' %}">
{% endblock 'css' %}